.container {
    height: 100%;
    width: 100%;
}

.main {
    width: 1264px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(224, 247, 252, 0.583333) 25.87%, #CAF2FA 100%);
}

.h1 {
    margin: 34px 0 10px 0;
    font-family: 'Roboto-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #223867;
}

.h2 {
    margin-bottom: 43px;
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #223867;
}

.wrap {
    width: 1192px;
    margin: 0 auto;
}

.patient_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    margin-bottom: 90px;
}

.group {
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto-Regular';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    color: #223867;

    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #068CA6;
    box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
    border-radius: 10px;
}

.massage {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2A477D;
}

.massage span {
    font-size: 16px;
    color: #068CA6;
}